body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    text-align: center;
    padding: auto;
    min-width : 100px
}
.container {
    background: white;
    padding: 20px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background: #007bff;
    color: white;
    cursor: pointer;
}
#weather-info {
    margin-top: 20px;
}